<div class="panel panel-default">
  <div class="clearfix panel-heading">Constraints
    <button ng-click="resampleConstraints()" class="btn btn-primary pull-right">Resample</button>
    <button ng-click="addConstraint()" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus-sign"></i> Add</button>
  </div>
  <div class="panel-body">
    <table id="constraint-table" class="table">
      <thead>
        <tr>
          <th class="col-sm-4">Label</th>
          <th class="col-sm-3">Source</th>
          <th class="col-sm-1">Faceted</th>
          <th class="col-sm-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="constraint in constraints track by $index">
          <td class="col-sm-4"><span class="col-sm-2 btn-group btn-group-vertical btn-group-xs">
            <a class="btn btn-xs btn-success" ng-click="reorderConstraint($index, $index - 1)"><span class="glyphicon glyphicon-chevron-up">&nbsp;</span></a>
            <a class="btn btn-xs btn-danger" ng-click="reorderConstraint($index, $index + 1)"><span class="glyphicon glyphicon-chevron-down">&nbsp;</span></a>
            </span>
            <input class="col-sm-10" encoded-value type="text" ng-model="constraint.name" />
          </td>
          <td class="col-sm-3"><span ng-if="constraint.range">Range</span><span ng-if="constraint.word">Word</span><span ng-if="constraint.collection">Collection</span><span ng-if="!(constraint.collection || constraint.range || constraint.word)">Geospatial</span>: {{(constraint.range || constraint.word).field.name || (constraint.range || constraint.word).attribute.name || (constraint.range || constraint.word).element.name || (constraint.range || constraint.word)['json-property'] || constraint.collection.prefix}} (<span ng-if="(constraint.range || constraint.word).attribute">attribute</span><span ng-if="(constraint.range || constraint.word).element && !(constraint.range || constraint.word).attribute">element</span><span ng-if="(constraint.range || constraint.word)['json-property']">json</span><span ng-if="(constraint.range || constraint.word).field">field</span><span ng-if="constraint.collection">prefix</span>)</td>
          <td class="col-sm-1">
            <input type="checkbox" ng-model="(constraint.range || constraint.word || constraint.collection).facet" />
          </td>
          <td class="col-sm-1">
            <a class="pull-right" ng-click="removeConstraint($index)"><i class="glyphicon glyphicon-trash"></i></a>
            <a class="pull-right" ng-click="editConstraint($index)"><i class="glyphicon glyphicon-pencil"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clearfix panel-footer">
    <button ng-click="submitConstraints()" class="clearfix btn btn-primary pull-right">Save</button>
  </div>
</div>
